@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#menu-btn {
  margin-top: 10px;
  width: 100%;
}

#menu-btn button {
  width: 100%;
}

#menu-btn ul {
  width: 100%;
}

#menu-btn li {
  width: 100%;
}

#menu-btn a {
  width: 100%;
}

.active {
  background-color: #eee;
}