@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#menu-btn {
  margin-top: 10px;
  width: 100%;
}

#menu-btn button {
  width: 100%;
}

#menu-btn ul {
  width: 100%;
}

#menu-btn li {
  width: 100%;
}

#menu-btn a {
  width: 100%;
}

#btn-restart {
  width: 100%;
}

.active {
  background-color: #eee;
}

@media only screen and (max-width: 768px) {
    #text {
      margin-bottom: 20px;
    }

    #translation {
      margin-bottom: 20px;
    }

    label {
      font-size: 12pt;
    }

    h3 {
      font-size: 20px;
    }
}