<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Morse Decoder</title>

    <!-- BOOTSTRAP --> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- PERSONAL -->
    <!-- CSS --> 
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <!-- ICON -->
    <link rel="shortcut icon" href="../data/logo_square_fill.png">
</head>

<body>    

<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <% if(locals.user){ %>
                <a class="navbar-brand" href="/switch">Morse Decoder</a>
                <a href="/switch" class="navbar-brand" style="padding-right:15px;padding-top: 13px;"><img style="width:25px;height:25px;" src="../data/home.png"></a>
            <% } else{ %>  
                <a class="navbar-brand" href="/">Morse Decoder</a>  
            <% } %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-left">
                <li><a href="/learn">Learn Morse Code</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Calibration</a></li>
                        <li><a href="/abbr">Abbreviations</a></li>
                        <li><a href="#">Menu Code</a></li>
                    </ul>
                </li>
            </div>
            <% if(locals.user){ %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i><%= user.general.username %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">My Profile</a></li>                        
                            <li><a href="/signout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            <% } else{ %>  
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/signin">Sign In</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="jumbotron">
        <h1> What is Morse Decoder? </h1>
        <p> We worked on Morse Decoder for an Accessibility Capstone at the University of Washington. It is a continuation of a <a href="https://github.com/jli227/Morse-Decode" target="_blank">project</a> started at DubHacks, our college's hackathon.</p>
        <a class="btn btn-default" target="_blank" href="https://docs.google.com/document/d/1URr6Fotcjv7Aa297sQiLq52HpK7RcvY0R3fAHE_yOj0/pub"> Documentation </a>
        <a class="btn btn-default" target="_blank" href=" https://docs.google.com/document/d/1bziih2B9BTqnRbK-FkSb2CvIcUjJAfcK6D1szb3S-fc/pub"> Tutorial </a>

        <a class="btn btn-default" target="_blank" href="https://github.com/uwcse481h-2017/MorseDecoder"> Source Code </a>
    </div>
</div>

</body>
</html>