<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>Morse Decoder</title>

	<!-- BOOTSTRAP --> 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- RESPONSIVE VOICE (TTS) -->
	<script src="http://code.responsivevoice.org/responsivevoice.js"></script>

	<!-- PERSONAL -->
	<!-- CSS --> 
	<link rel="stylesheet" type="text/css" href="../css/main.css">		
	<link rel="stylesheet" type="text/css" href="../css/morse.css">
	<link rel="stylesheet" type="text/css" href="../css/progress.css">
	
	<!-- JS --> 
	<script src="../js/2Switch.js" type="text/javascript"></script>
	<script src="../js/stopwatch.js" type="text/javascript"></script>
	<!-- ICON -->
	<link rel="shortcut icon" href="../data/logo_square_fill.png">
</head>

<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <% if(locals.user){ %>
                <a class="navbar-brand" href="/switch">Morse Decoder</a>
            <% } else{ %>  
                <a class="navbar-brand" href="/">Morse Decoder</a>  
            <% } %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-left">
                <li><a href="/learn">Learn Morse Code</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Calibration</a></li>
                        <li><a href="/abbr">Abbreviations</a></li>
                        <li><a href="#">Menu Code</a></li>
                    </ul>
                </li>
            </div>
            <% if(locals.user){ %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i><%= user.general.username %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">My Profile</a></li>                        
                            <li><a href="/signout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            <% } else{ %>  
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/signin">Sign In</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>

<body>

<!-- Hidden div for storing user id --> 
<% if(locals.user){ %>
<div id="uid" class="hidden"><%= user._id %></div>
<% } %>

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-12">
			<div class="progress">
				<div id="progressText" class="progress-bar progress-bar-success" role="progressbar" style="width:0%">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label for="text">Morse Input</label>
			<!--<textarea id="text" class="form-control custom-control" rows="1" style="resize:none"></textarea>  -->
			<div id="text"></div>
		</div>
		<div class="col-xs-6">
			<label for="correspondingWord">Corresponding</label>
			<!--<textarea id="correspondingWord" class="form-control custom-control" rows="1" style="resize:none"></textarea>  -->
			<div id="correspondingWord"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="translationWrapper">
				<label for="translation">Sentence</label>
				<textarea id="translation" class="form-control custom-control" rows="2" style="resize:none"></textarea> 
				<span id="suggestionBox" class="input-group-addon uppercase">Text Suggestion</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="menu-btn"  class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Menu Options <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li id="btn-play" class="text-center btn-option"><a href="#">Play</a></li>
					<li id="btn-delete" class="text-center btn-option"><a href="#">Delete</a></li>
					<li id="btn-close" class="text-center btn-option"><a href="#">Close Menu</a></li>
					<li id="btn-suggest" class="text-center btn-option"><a href="#" style="display: none;">Take Top Suggestion</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Copyright &copy; Morse Decoder 2017</p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>