<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morse Decoder</title>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- PERSONAL -->
    <!-- CSS --> 
    <link rel="stylesheet" type="text/css" href="../css/sign.css">
    <!-- ICON -->
    <link rel="shortcut icon" href="../data/logo_square_fill.png">
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="wrapper">
                <div id="header" class="wrapper text-center">
                <img id="logo" src="../data/logo_square_fill.png"></i>
                <a href="/" id="brand"><h1>Morse Decoder</h1></a>
            </div>

            <div class="user-form">

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                
                <h3> Create an Account </h3>

                <form action="/signup" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" id="btn-login" class="btn btn-default">Sign up</button>
                </form>

                <hr>

                <p>Already have an account? <a href="/signin">Sign in.</a></p>
            </div>
        </div>
    </div>

</body>
</html>